<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<article>
    <div id="centrovac">
        <header>
            <h1>Ubytovat hosta</h1>
        </header>

        <section>
            <form class="d-flex flex-column gap-2"
                  method="post"
                  th:action="@{/guests/create}"
                  th:object="${guestDTO}">
                <div class="container">
                    <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="name" class="control-label">Jméno</label>
                            <input id="name" th:field="*{name}" class="form-control"/>
                            <small class="text-danger" th:errors="*{name}"></small>
                        </div>
                        <div class="form-group">
                            <label for="surname" class="control-label">Příjmení</label>
                            <input id="surname" class="form-control" th:field="*{surname}">
                            <small class="text-danger" th:errors="*{surname}"></small>
                        </div>
                        <div class="form-group">
                            <label for="countryCode" class="control-label">Kód státu</label>
                            <input id="countryCode" class="form-control" th:field="*{countryCode}">
                            <small class="text-danger" th:errors="*{countryCode}"></small>
                        </div>
                        <div class="form-group">
                            <label for="dateOfBirth" class="control-label">Datum narození</label>
                            <input id="dateOfBirth" class="form-control" type="date" th:field="*{dateOfBirth}"/>
                            <small class="text-danger" th:errors="*{dateOfBirth}"></small>
                        </div>
                        <div class="form-group">
                            <label for="streetName" class="control-label">Ulice</label>
                            <input id="streetName" class="form-control" th:field="*{streetName}"/>
                            <small class="text-danger" th:errors="*{streetName}"></small>
                        </div>
                        <div class="form-group">
                            <label for="houseNumber" class="control-label">Číslo popisné</label>
                            <input id="houseNumber" class="form-control" th:field="*{houseNumber}"/>
                            <small class="text-danger" th:errors="*{houseNumber}"></small>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="cityName" class="control-label">Město</label>
                            <input id="cityName" class="form-control" th:field="*{cityName}"/>
                            <small class="text-danger" th:errors="*{cityName}"></small>
                        </div>
                        <div class="form-group">
                            <label for="zipCode" class="control-label">PSČ</label>
                            <input id="zipCode" class="form-control" type="number" th:field="*{zipCode}"/>
                            <small class="text-danger" th:errors="*{zipCode}"></small>
                        </div>
                        <div class="form-group">
                            <label for="idPassportNumber" class="control-label">Číslo ID/pasu</label>
                            <input id="idPassportNumber" class="form-control" th:field="*{idPassportNumber}"/>
                            <small class="text-danger" th:errors="*{idPassportNumber}"></small>
                        </div>
                        <div class="form-group">
                            <label for="visaNumber" class="control-label">Číslo víza</label>
                            <input id="visaNumber" class="form-control" th:field="*{visaNumber}"/>
                            <small class="text-danger" th:errors="*{visaNumber}"></small>
                        </div>
                        <div class="form-group">
                            <label for="arrivalDate" class="control-label">Datum příjezdu</label>
                            <input id="arrivalDate" class="form-control" type="date" th:field="*{arrivalDate}"/>
                            <small class="text-danger" th:errors="*{arrivalDate}"></small>
                        </div>
                        <div class="form-group">
                            <label for="departureDate" class="control-label">Datum odjezdu</label>
                            <input id="departureDate" class="form-control" type="date" th:field="*{departureDate}"/>
                            <small class="text-danger" th:errors="*{departureDate}"></small>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="add-button">Uložit</button>
                    </div>
                    </div>
                </div>
            </form>
        </section>

    </div>
</article>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>