a:hover {
    color: currentColor;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-ExtraBold.ttf);
    font-weight: bold;
}

#centrovac {
    text-align: center;
}

/* General styling for the entire page */
body {
    font: 1.125rem "Poppins"; /* Set font */
    background: #6E6E6E; /* Set the background color*/
    color: white; /* Set font color */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 80px 0px 0px 0px; /* Add padding to the top of the page */
    min-height: 100vh; /* Ensure a minimum height of the viewport */
    min-width: 960px; /* Ensure a minimum width for content */
}

body>header {
    height: 100px;
    width: 100%;
    background: #383838;
    color: white;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
    top: 0;
}

#logo {
    height: 80px;
    margin: auto 0 auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('/images/logo.png') no-repeat;
    background-size: 80px 80px;
    background-position: 15px 12px;
    padding-left: 40px;

}

#logo>* {
    margin: 0 0 0 50px;
}

#logo h1 {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2em;
    color: white;
}

#logo h1 span {
    font-weight: bold;
    text-transform: uppercase;
    color: #BAFF39;
}

#logo small {
    text-transform: uppercase;
    font-size: 0.85em;
}

nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li {
    padding: 0 25px;
    margin: 0 5px;
    font-size: 1em;
    line-height: 4.3em;
}

nav ul a {
    color: white;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul a:hover {
    color: #BAFF39;
}

article {
margin: 70px auto 18px;
}

#guest-list li h2 a {
    text-decoration: none;
    color: #00386B;
}

.edit-button {
    background: #00386B;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding:  10px 20px;
    margin: 15px 0;
    border-radius: 20px;
    border: 0;
}

.add-button {
    background: #EF6534;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}


/*
footer {
    box-sizing: border-box;
    text-align: center;
    height: 100px;
    color: white;
    background: #383838;
    padding: 50px 0 0 0;
    clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    position: fixed;
    bottom: 0;
} */